@font-face {
    font-family: "NovaWave";
    src: url('fonts/novawave-digital-exo-2-medium.ttf');
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
a {
    font-family: NovaWave;
}

/** COLOR PALETTE
*  #4B91F1
*  #FFFFFF
*/

/********************** HEADER AND NAV **********************/

header {
    background-image: url("images/novawave-digital-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: flex-end;
}

nav {
    width: 100%;;
}

header ul {
    max-height: 10%;
}

header li {
    list-style: none;
    display: inline-flex;
    font-size: 1.5em;
    margin-left: 1%;
    margin-right: 1%;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: #4B91F1;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 1px 0px #000;
    box-shadow: 2px 2px #000;
    border: 3px solid #000;
}

a:hover {
    box-shadow: none;
    position: relative;
    bottom: -2px;
    right: -2px;
}

/********************** TESTIMONIALS **********************/

    /****Design Idea, testimonials fill the left and right in two columns but each on their own row */


/********************** ABOUT US **********************/

/********************** MEET THE TEAM **********************/

/********************** FOOTER **********************/